<!DOCTYPE html>
<html>
<head>
  <title>TimezoneDetection</title>
  <%= stylesheet_link_tag    "timezone_detection/application", :media => "all" %>
  <%= javascript_include_tag "timezone_detection/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
